<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>NatGeo</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="icon" href="{{ url_for('static', filename='img/person.png') }}" type="image/gif" sizes="16x16">
</head>

<body>

    <div id='map'></div>

    <script>
        var unbabelites = JSON.parse('{{ unbabelites|tojson }}');
        mapboxgl.accessToken = '{{ mapbox_token }}';

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/ribeiralves/cjptv2z3703p52spafj1ih9pv',
            center: [5, 28],
            minZoom: 1.5,
            zoom: 1.5
        });


        map.on('load', function () {
            map.setPaintProperty('water', 'fill-color', '#1379ac');
            map.setPaintProperty('background', 'background-color', '#1fad64');
            // map.setPaintProperty('line-color', 'fill', '0');
            //map.setPaintProperty('road', 'line-opacity', '0');

            map.loadImage('static/img/flagpls.png', function(error, image) {

            // inspect a cluster on click
            map.on('click', 'clusters', function (e) {
                    if (e.features[0].properties.cluster) {
                        $('.mapboxgl-popup').hide();
                    }
                    var features = map.queryRenderedFeatures(e.point, { layers: ['clusters'] });
                    var clusterId = features[0].properties.cluster_id;

                    map.getSource('unbabelites').getClusterExpansionZoom(clusterId, function (err, zoom) {
                        map.easeTo({
                            center: features[0].geometry.coordinates,
                            zoom: zoom
                        });
                    });
                });
            });

            map.loadImage('static/img/hasan1.png', function(error, image) {
                if (error) throw error;
                map.addImage('person', image);

                map.addSource("something", {
                    type: "geojson",
                    // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
                    // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
                    data: "/unbabelites",
                    cluster: true,
                    clusterMaxZoom: 4, // Max zoom to cluster points on
                    clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
                });

                map.addLayer({
                    id: "unclustered-point",
                    type: "symbol",
                    source: "something",
                    filter: ["!", ["has", "point_count"]],
                    layout: {
                        "icon-image": "person",
                        "icon-size": .04,
                    }
                });
            });


            map.loadImage('static/img/hasan5.png', function(error, image) {
                if (error) throw error;
                map.addImage('people5', image);

                map.addSource("hi", {
                    type: "geojson",
                    // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
                    // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
                    data: "/unbabelites",
                    cluster: true,
                    clusterMaxZoom: 4, // Max zoom to cluster points on
                    clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
                });

                map.addLayer({
                    id: "unclustered5-point",
                    type: "symbol",
                    source: "hi",
                    filter: ["<", 5, ["get", "point_count"]],
                    // FIGURE OUT HOW TO GET NUMBER OF PEOPLE
                    //[">=",  "accumulated", 5],
                    // ["!", ["has", "point_count"]],
                    layout: {
                        "icon-image": "people5",
                        "icon-size": .04,
                    }
                });
            });

            map.loadImage('static/img/hasan4.png', function(error, image) {
                if (error) throw error;
                map.addImage('4people', image);

                map.addSource("4peoplesource", {
                    type: "geojson",
                    // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
                    // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
                    data: "/unbabelites",
                    cluster: true,
                    clusterMaxZoom: 5, // Max zoom to cluster points on
                    clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
                });

                map.addLayer({
                    id: "4poepleid",
                    type: "symbol",
                    source: "4peoplesource",
                    filter: [">", 5, ["get", "point_count"]],
                    // FIGURE OUT HOW TO GET NUMBER OF PEOPLE
                    //[">=",  "accumulated", 5],
                    // ["!", ["has", "point_count"]],
                    layout: {
                        "icon-image": "4people",
                        "icon-size": .04,
                    }
                });
            });


            map.loadImage('static/img/hasan3.png', function(error, image) {
                if (error) throw error;
                map.addImage('3people', image);

                map.addSource("3peoplesource", {
                    type: "geojson",
                    // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
                    // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
                    data: "/unbabelites",
                    cluster: true,
                    clusterMaxZoom: 5, // Max zoom to cluster points on
                    clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
                });

                map.addLayer({
                    id: "3poepleid",
                    type: "symbol",
                    source: "3peoplesource",
                    filter: [">", 4, ["get", "point_count"]],
                    // FIGURE OUT HOW TO GET NUMBER OF PEOPLE
                    //[">=",  "accumulated", 5],
                    // ["!", ["has", "point_count"]],
                    layout: {
                        "icon-image": "3people",
                        "icon-size": .04,
                    }
                });
            });

            map.loadImage('static/img/hasan2.png', function(error, image) {
                if (error) throw error;
                map.addImage('2people', image);

                map.addSource("2peoplesource", {
                    type: "geojson",
                    // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
                    // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
                    data: "/unbabelites",
                    cluster: true,
                    clusterMaxZoom: 5, // Max zoom to cluster points on
                    clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
                });

                map.addLayer({
                    id: "2poepleid",
                    type: "symbol",
                    source: "2peoplesource",
                    filter: [">", 3, ["get", "point_count"]],
                    // FIGURE OUT HOW TO GET NUMBER OF PEOPLE
                    //[">=",  "accumulated", 5],
                    // ["!", ["has", "point_count"]],
                    layout: {
                        "icon-image": "2people",
                        "icon-size": .04,
                    }
                });
            });

        });


        Object.keys(unbabelites).forEach(function(key) {
            if (unbabelites[key]['unbabelites'].length === 1) {
                var html = '<h3 class="city-title"> <img src="static/img/location.png" class="city-title-image">' + '<b>' + unbabelites[key]['unbabelites'][0]['city'] + '</b>' + ',&nbsp' + '<span class="city-title--small">' + unbabelites[key]['unbabelites'][0]['country'] +  '</span>' + '</h3>';
                html += '<div class="people-container">'
                unbabelites[key]['unbabelites'].forEach(function (unbabelite) {
                    html += '<div class="person person-single"><img src='+ unbabelite.photo +' class="person-img"><p class="person-name person-name-single">' + unbabelite.name + '</p><p class="person-job person-job--single">' + unbabelite.position + '</p></div>'
                });
                html += '</div>'
            }
            else if (unbabelites[key]['unbabelites'].length <= 12) {
                var html = '<h3 class="city-title"> <img src="static/img/location.png" class="city-title-image">' + '<b>' + unbabelites[key]['unbabelites'][0]['city'] + '</b>' + ',&nbsp' + '<span class="city-title--small">' + unbabelites[key]['unbabelites'][0]['country'] +  '</span>' + '</h3>';
                html += '<div class="people-container">'
                unbabelites[key]['unbabelites'].forEach(function (unbabelite) {
                    if (unbabelite.name == "Matt Carrozo") {
                        html += '<div class="person"><img src='+ unbabelite.photo +' class="person-img person-img-matt"><p class="person-name">' + unbabelite.name + '</p><p class="person-job">' + unbabelite.position + '</p></div>'
                    }
                    else {
                        html += '<div class="person"><img src='+ unbabelite.photo +' class="person-img"><p class="person-name">' + unbabelite.name + '</p><p class="person-job">' + unbabelite.position + '</p></div>'
                    }

                });
                html += '</div>'
            }
            else {
                var html = '<h3 class="city-title"> <img src="static/img/location.png" class="city-title-image">' + '<b>' + unbabelites[key]['unbabelites'][0]['city'] + '</b>' + ',&nbsp' + '<span class="city-title--small">' + unbabelites[key]['unbabelites'][0]['country'] +  '</span>' + '</h3>';
                html += '<div class="people-container">'
                unbabelites[key]['unbabelites'].forEach(function (unbabelite) {
                    html += '<div class="person person-small"><img src=' + unbabelite.photo +' class="person-img"><p class="person-name">' + unbabelite.name + '</p><p class="person-job">' + unbabelite.position + '</p></div>'
                });
                html += '</div>'
            }

            var el = document.createElement('div');
            el.className = 'marker';
            var coordinates = [unbabelites[key]['coordinates']['lng'], unbabelites[key]['coordinates']['lat']]
            new mapboxgl.Marker(el)
                .setLngLat(coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 10 })
                .setHTML(html))
                .addTo(map);
        });

    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
</body>

</html>
